policy_module(secret_file_reader, 1.0.1)

########################################
#
# Declarations
#

attribute_role secret_file_reader_roles;

type secret_file_reader_t;
type secret_file_reader_exec_t;
application_domain(secret_file_reader_t, secret_file_reader_exec_t)
role secret_file_reader_roles types secret_file_reader_t;

type secret_file_file_t;
allow secret_file_reader_t secret_file_file_t:file { getattr open read };
gen_require(`attribute files_unconfined_type;')
allow files_unconfined_type secret_file_file_t : file { getattr relabelto };
gen_require(`attribute filesystem_type;')
allow secret_file_file_t filesystem_type:filesystem associate;

allow secret_file_reader_t self:fifo_file manage_fifo_file_perms;
allow secret_file_reader_t self:unix_stream_socket create_stream_socket_perms;

domain_use_interactive_fds(secret_file_reader_t)

files_read_etc_files(secret_file_reader_t)

miscfiles_read_localization(secret_file_reader_t)

gen_require(`type unconfined_t;
 	role unconfined_r;')

secret_file_reader_role(unconfined_r, unconfined_t)

gen_require(`attribute userdomain;')
secret_file_reader_exec(userdomain)

corecmd_exec_shell(secret_file_reader_t)
corecmd_exec_bin(secret_file_reader_t)
kernel_read_system_state(secret_file_reader_t)
userdom_use_inherited_user_ptys(secret_file_reader_t)
