
## <summary>policy for secret_file_reader</summary>

########################################
## <summary>
##	Execute secret_file_reader_exec_t in the secret_file_reader domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`secret_file_reader_domtrans',`
	gen_require(`
		type secret_file_reader_t, secret_file_reader_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, secret_file_reader_exec_t, secret_file_reader_t)
')

######################################
## <summary>
##	Execute secret_file_reader in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`secret_file_reader_exec',`
	gen_require(`
		type secret_file_reader_exec_t;
	')

	corecmd_search_bin($1)
	can_exec($1, secret_file_reader_exec_t)
')

########################################
## <summary>
##	Execute secret_file_reader in the secret_file_reader domain, and
##	allow the specified role the secret_file_reader domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the secret_file_reader domain.
##	</summary>
## </param>
#
interface(`secret_file_reader_run',`
	gen_require(`
		type secret_file_reader_t;
		attribute_role secret_file_reader_roles;
	')

	secret_file_reader_domtrans($1)
	roleattribute $2 secret_file_reader_roles;
')

########################################
## <summary>
##	Role access for secret_file_reader
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`secret_file_reader_role',`
	gen_require(`
		type secret_file_reader_t;
		attribute_role secret_file_reader_roles;
	')

	roleattribute $1 secret_file_reader_roles;

	secret_file_reader_domtrans($2)

	ps_process_pattern($2, secret_file_reader_t)
	allow $2 secret_file_reader_t:process { signull signal sigkill };
')
